<%- include('../../layouts/header'); -%>
<div class="wapper">
   <div class="box_container">
		<div class="success">
			<a href="#"><div class="title">Trang không tồn tại. Vui lòng kiểm tra lại</div>
				<b>Cảm ơn anh/chị đã cho Simcuatui.com cơ hội được phục vụ</b> <br /></a>
		</div>
	</div><!--.box_container-->
	<div class="clear"></div>
</div>
<%- include('../../layouts/footer'); -%>