<div id="wap_footer">
    <div class="wapper">
        <div class="nav_ft">
            <div class="row">
                <div class="col-md-4">
                    <div class="">
                        <p><strong><span style="color: rgb(255, 255, 0);">TRUNG TÂM SIM SỐ ĐẸP SIMCUATUI</span><br>
<span style="color: rgb(255, 240, 245);">Trụ Sở: 158 Phạm Văn Chiêu, P. 9, Q. Gò Vấp, HCM<br>
HN:TN Golden City Nguyễn Trãi, Q.Thanh Xuân,Hà Nội<br>
<span style="font-size: 14px;">Tel:&nbsp;</span>0915.31.31.31&nbsp;-&nbsp;0948.31.31.31 - 0948.34.34.34 -&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 0937.34.34.34- 0971.34.34.34 - 0934.97.97.97 - 0964.111.444 - 0967.111.444 - &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;0972.987.987&nbsp;</span><span style="color: rgb(255, 255, 0);">-0286.678.5555</span><br>
<span style="font-size: 14px; line-height: 1.6;"><span style="color: rgb(255, 240, 245);">Website:&nbsp;</span><span style="color: rgb(255, 255, 0);">S</span></span><span style="color: rgb(255, 255, 0);">imcuatui.com</span></strong></p>
                    </div>
                </div>
                <div class="col-md-8 hidden-sm hidden-xs">
                    <div class="bx1">
                        <p class="td1">Hướng dẫn</p>
                        <ul>
                            <li><a href="huong-dan/cam-ket-ban-hang-5bd91961aa32db6d8262eda7.html">Cam Kết Bán Hàng</a></li>
                            <li><a href="huong-dan/huong-dan-mua-sim-5bd91958aa32db6d8262eda6.html">Hướng Dẩn Mua Sim</a></li>
                            <li><a href="huong-dan/kiem-tra-sim-con-ban-5bd9194eaa32db6d8262eda5.html">Kiểm Tra Sim Còn Bán</a></li>
                            <li><a href="huong-dan/kiem-tra-thong-tin-sim-chinh-chu-5bd91942aa32db6d8262eda4.html">Kiểm Tra Thông Tin Sim Chính Chủ</a></li>
                            <li><a href="huong-dan/chinh-sach-van-chuyen-5bd91936aa32db6d8262eda3.html">Chính sách vẫn chuyển</a></li>
                        </ul>
                    </div>
                    <div class="bx1">
                        <p class="td1">Hỗ trợ chung</p>
                        <ul>
                            <li><a href="ho-tro-khach-hang/van-chuyen-giao-nhan-5bd918f0aa32db6d5774c393.html">Vận chuyển giao nhận</a></li>
                            <li><a href="ho-tro-khach-hang/huong-dan-mua-sim-5bd918dcaa32db6d5774c392.html">Hướng Dẩn Mua Sim</a></li>
                        </ul>
                    </div>
                    <div class="bx1 bx2">
                        <div class="tkz">
                            <div class="td1">Thống kê truy cập</div>
                            <p>Online: <span>8</span></p>
                            <p>Hôm qua: <span></span></p>
                            <p>Tổng truy cập: <span></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <!---END #footer-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="./js/script.js"></script>
    <script>
        var base_url = 'http://simtoancau.vn';
    </script>
    <!-- Init Plugin -->
	<div class="fix_hotline">
		<% for(var i=0; i<layoutVM.hotlineMb.length; i++){%>
		<a href="tel:<%=layoutVM.hotlineMb[i].dienthoai%>"><div class=""><img src="./images/fix_hotline.png" alt="hotline đặt hàng"><span><%=layoutVM.hotlineMb[i].dienthoai%></span></div>
		<% } %>
		
		</a>
	</div>
</div>
<!-- Facebook Pixel Code -->
		<script>
		  !function(f,b,e,v,n,t,s)
		  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
		  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
		  n.queue=[];t=b.createElement(e);t.async=!0;
		  t.src=v;s=b.getElementsByTagName(e)[0];
		  s.parentNode.insertBefore(t,s)}(window, document,'script',
		  'https://connect.facebook.net/en_US/fbevents.js');
		  fbq('init', '458519088145047');
		  fbq('track', 'PageView');
		</script>
		<noscript><img height="1" width="1" style="display:none"
		  src="https://www.facebook.com/tr?id=458519088145047&ev=PageView&noscript=1"
		/></noscript>
		<!-- End Facebook Pixel Code -->
  </body>
</html>